# So much ignore. So little time.
.*
~*
/*
/wp-content/*
/wp-content/themes/*

# except certain things in wp-content...
!/wp-content/
!/wp-content/themes/
!/wp-content/themes/_pa/
!/readme.md
!.gitignore

node_modules